@font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf);
}

:root {
    box-sizing: border-box;
    font-family: Roboto;
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-rows: 20vh 100%;
    grid-template-columns: 1fr 4fr 1fr;
}

#sidebar {
    z-index: 3;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 3fr;
    grid-template-columns: 1fr 4fr;
    gap: 1vw;
    height: 100%;
    background-color: rgb(159, 202, 240);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

#sidebar img {
    width: 2rem;
}

#sidebar p {
    font-size: 1.5rem;
}

#sidebar > img {
    width: 3.5rem;
    position: relative;
    bottom: 3px;
    grid-column-start: 1;
    align-self: center;
    justify-self: end;
}

#sidebar > h2 {
    font-size: 2rem;
    align-self: center;
    padding-right: 0.5rem;
}

#sidebar a {
    display: grid;
}

#sidebar .middle-img{
    display: grid;
    align-items: center;
    justify-items: end;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#sidebar .middle-p {
    display: grid;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#sidebar .bottom-img {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 2rem;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

#sidebar .bottom-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.3rem;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

header {
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 1fr;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    box-shadow: 0px 2px 10px grey;
}

.header-left {
    height: 20vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar form {
    width: 90%;
}

.search-bar input {
    background-color: rgb(255, 245, 232);
    width: 80%;
    border-radius: 1rem;
}

.header-left form img {
    position: relative;
    top: 3px;
    width: 1rem;
}

.admin-title {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.admin-title .img {
    display: flex;
    justify-content: flex-end;
    margin-left: 0.5rem;
}

.admin-title img {
    justify-self: right;
    align-self: center;
    width: 4rem;
}

.admin-title .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.admin-title .text p {
    margin: 0.25rem;
}

.header-right {
    height: 20vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-right .bell-icon {
    position: relative;
    top: 2px;
    width: 1.5rem;
    margin-right: 3vw;
}

.top-right .admin-icon {
    width: 3rem;
    margin-right: 0.75vw;
}

.bottom-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-right a {
    width: 5rem;
    text-align: center;
    background-color: rgb(159, 202, 240);
    color: white;
    border: 0.5rem solid rgb(159, 202, 240);
    border-radius: 1rem;
    text-decoration: none;
}

#main-section {
    background-color: rgb(255, 245, 232);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#main-section h2 {
    margin: 0.5rem 0 -0.5rem 0.5rem;
}

#main-section .projects {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr 1fr;
}

.project img {
    width: 1.5rem;
}

#main-section .project {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    margin: 1rem;
    border-left: 0.5rem solid rgb(248, 188, 77);
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 2px 4px 6px grey;
}

.project h3 {
    margin: 0.25rem;
    align-self: end;
}

.project p {
    margin: 0.25rem;
}

.project .buttons {
    margin: 0.5rem;
    justify-self: end;
    align-self: end;
}

.project .buttons a {
    margin: 0.1rem;
}

#right-sidebar {
    display: grid;
    background-color: rgb(255, 245, 232);
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#right-sidebar h2{
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.announcement-container {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 6px grey;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trending-admins-img img {
    width: 2rem;
}