@font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf);
}

:root {
    box-sizing: border-box;
    font-family: Roboto;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-rows: 20vh 80vh;
    grid-template-columns: 1fr 4fr 1fr;
}

#sidebar {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 3fr;
    grid-template-columns: 1fr 4fr;
    gap: 1vw;
    height: 100vh;
    background-color: rgb(159, 202, 240);
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#sidebar img {
    width: 1.5rem;
}

#sidebar > img {
    width: 3rem;
    position: relative;
    bottom: 3px;
    grid-column-start: 1;
    align-self: center;
    justify-self: end;
}

#sidebar > h2 {
    align-self: center;
    padding-right: 0.5rem;
}

#sidebar a {
    display: grid;
}

#sidebar .middle-img{
    display: grid;
    align-items: center;
    justify-items: end;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#sidebar .middle-p {
    display: grid;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#sidebar .bottom-img {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 2rem;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

#sidebar .bottom-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.3rem;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 1fr;
    border-bottom: 2px solid grey;
    height: 20vh;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.header-left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.search-bar {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.search-bar form {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    justify-items: center;
}

.search-bar input {
    border-radius: 1rem;
    width: 60%;
}

.header-left form img {
    width: 1rem;
}

.admin-title {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    height: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.admin-title img {
    image-rendering: pixelated;
    justify-self: right;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 4rem;
}

.admin-title.text {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.header-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.top-right {
    grid-row: 1 / 2;
    align-content: center;
}

.top-right img {
    image-rendering: pixelated;
    width: 3rem;
}

.bottom-right {
    display: flex;
    gap: 1rem;
    grid-row: 2 / 3;
}

.bottom-right a {
    text-decoration: none;
}

section#main-section {
    background-color: antiquewhite;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}