@font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf);
}

:root {
    box-sizing: border-box;
    font-family: Roboto;
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-rows: 20vh 80vh;
    grid-template-columns: 1fr 4fr 1fr;
}

#sidebar {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 3fr;
    grid-template-columns: 1fr 4fr;
    gap: 1vw;
    height: 100vh;
    background-color: rgb(159, 202, 240);
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#sidebar img {
    width: 1.5rem;
}

#sidebar > img {
    width: 3rem;
    position: relative;
    bottom: 3px;
    grid-column-start: 1;
    align-self: center;
    justify-self: end;
}

#sidebar > h2 {
    align-self: center;
    padding-right: 0.5rem;
}

#sidebar a {
    display: grid;
}

#sidebar .middle-img{
    display: grid;
    align-items: center;
    justify-items: end;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#sidebar .middle-p {
    display: grid;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#sidebar .bottom-img {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 2rem;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

#sidebar .bottom-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.3rem;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 1fr;
    border-bottom: 2px solid grey;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.header-left {
    height: 20vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar form {
    width: 90%;
}

.search-bar input {
    width: 80%;
    border-radius: 1rem;
}

.header-left form img {
    position: relative;
    top: 3px;
    width: 1rem;
}

.admin-title {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.admin-title .img {
    display: flex;
    justify-content: flex-end;
}

.admin-title img {
    justify-self: right;
    align-self: center;
    width: 4rem;
}

.admin-title .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.header-right {
    height: 20vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-right .bell-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 2vw;
}

.top-right .admin-icon {
    width: 2rem;
    margin-right: 0.25rem;
}

.bottom-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-right a {
    width: 5rem;
    text-align: center;
    background-color: rgb(159, 202, 240);
    color: white;
    border: 0.5rem solid rgb(159, 202, 240);
    border-radius: 8px;
    text-decoration: none;
}

#main-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: antiquewhite;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

#main-section .projects-section {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#main-section .right-sidebar {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}